<%= form_for [:admin, @cris_system] do |f| %>

    <% if @cris_system.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@cris_system.errors.count, "error") %> prohibited
            this CRIS system from being saved:
          </h2>
          <ul>
            <% @cris_system.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :version %><br>
      <%= f.text_field :version %>
    </p>

    <p>
      <%= f.label :organisation_ingester %><br>
      <%= f.select :organisation_ingester, options_for_select(DMAO::Ingesters.get_organisation_ingesters.collect { |k, v| ["#{v['display_name']} - #{v['version']}", k]}, selected: @cris_system.organisation_ingester), include_blank: 'Choose Organisation Ingester' %>
    </p>

    <%= f.nested_fields_for :configuration_keys do |config_keys| %>

        <h3>CRIS System Configuration Key</h3>

        <p>
          <%= config_keys.label :name %><br>
          <%= config_keys.text_field :name %>
        </p>

        <p>
          <%= config_keys.label :display_name %><br>
          <%= config_keys.text_field :display_name %>
        </p>

        <p>
          <%= config_keys.label :secure %><br>
          <%= config_keys.check_box :secure %>
        </p>

    <% end %>

    <%= f.add_nested_fields_link :configuration_keys, 'Add another config key' %>

    <p>
      <%= f.submit %>
    </p>

<% end %>