<% content_for :title, @cris_system.name %>

<p>
  <strong>Name:</strong>
  <%= @cris_system.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cris_system.description %>
</p>

<p>
  <strong>Version:</strong>
  <%= @cris_system.version %>
</p>

<h3>Configuration keys</h3>

<div class="col-md-12">

  <div class="box table-responsive">
    <div class="box-body no-padding">
      <table class="table table-striped table-hover table-align-center">
        <thead>
        <tr>
          <th>Name</th>
          <th>Display Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @cris_system.configuration_keys.each do |config_key| %>
            <tr>
              <td scope="row"><%= config_key.name %></td>
              <td><%= config_key.display_name %></td>
              <td></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


