<div class="page-title">
  <div class="title_left">
    <h3>All Institutions</h3>
  </div>
</div>

<div class="clearfix"></div>

<div class="col-md-12">
  <div class="x_panel">

    <div class="x_content">
      <table class="table table-hover table-align-center">
        <thead>
        <tr>
          <th>Identifier</th>
          <th>Name</th>
          <th>Contact Name</th>
          <th>Contact Email</th>
          <th>Contact Phone</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @institutions.each do |institution| %>
            <tr>
              <th scope="row"><%= institution.identifier %></th>
              <td><%= institution.name %></td>
              <td><%= institution.contact_name %></td>
              <td><%= institution.contact_email %></td>
              <td><%= institution.contact_phone_number %></td>
              <td>
                <div class="btn-group">
                  <%= link_to(admin_institution_path(institution), data: {original_title: "Show", toggle: "tooltip"}, class: "btn btn-default") do %>
                      <i class="fa fa-file-text"></i>
                  <% end %>
                  <%= link_to(edit_admin_institution_path(institution), data: {original_title: "Edit", toggle: "tooltip"}, class: "btn btn-default") do %>
                      <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to(admin_institution_path(institution), method: :delete, data:{confirm:"Are you sure you want to delete #{institution.name}.", original_title: "Delete", toggle: "tooltip"}, class: "btn btn-default") do %>
                      <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
