<h1><%= @institution.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @institution.name %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @institution.description %>
</p>


<p>
  <strong>Identifier:</strong>
  <%= @institution.identifier %>
</p>

<p>
  <strong>URL:</strong>
  <%= @institution.url %>
</p>

<p>
  <strong>Contact Name:</strong>
  <%= @institution.contact_name %>
</p>

<p>
  <strong>Contact Email:</strong>
  <%= @institution.contact_email %>
</p>

<p>
  <strong>Contact Phone Number:</strong>
  <%= @institution.contact_phone_number %>
</p>