<% content_for :title, 'New Institution Configuration' %>

<%= form_for @configuration, url: admin_institution_configurations_path(@institution) do |f| %>

    <div id="systems-configuration">

      <%= f.fields_for :systems_configuration do |system_config| %>

          <div id="cris-system-configuration">

            <%= system_config.fields_for :cris_system do |cris_config| %>

                <p>
                  <%= f.label :system_id, 'CRIS System' %><br>
                  <%= cris_config.collection_select :system_id, Systems::CrisSystem.all, :id, :name, include_blank: 'Choose CRIS System', selected: @configuration_params[:systems_configuration][:cris_system][:system_id] %>
                </p>

            <% end %>

            <div id="cris-system-configuration-values">

              <% @configuration_params[:systems_configuration][:cris_system][:configuration_key_values].each do |k, v| %>

                  <% if configuration_key_id_name(k).present? %>

                    <p>
                      <label for="institution_configuration_cris_system_<%= configuration_key_id_slug(k) %>"><%= configuration_key_id_name(k) %></label>
                      <br>
                      <input type="text" name="institution_configuration[systems_configuration][cris_system][configuration_key_values][<%= k %>][value]" value="<%= configuration_key_id_secure(k) ? "" : v[:value] %>">
                    </p>

                  <% end %>

              <% end %>

            </div>

          </div>

      <% end %>

    </div>

    <p><%= f.submit %></p>

<% end %>