<%= form_for [:admin, @institution_admin] do |f| %>

    <% if @institution_admin.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@institution_admin.errors.count, "error") %> prohibited
            this institution admin user from being saved:
          </h2>
          <ul>
            <% @institution_admin.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>